<!DOCTYPE html>
<html lang="fr" data-ng-app="app" data-ng-controller="ctrl">
  <title>La Cybercriminalité</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#990000" />
  <meta name="keywords" content="cybercriminalité" />
  <meta name="description" content="Un site internet traitant de la cybercriminalité réalisé par des étudiants de première année d'IUT Informatique." />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="./script/script_theme.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="./style/style_global.css" />
  <link rel="stylesheet" type="text/css" href="./style/style_index.css" />
  <link rel="stylesheet" type="text/css" href="./style/style_menus.css" />
  <link rel="stylesheet" type="text/css" href="./style/font-awesome-4.7.0/css/font-awesome.min.css" />
  
  <style>
  /* global */
  body {
    background-color: {{colorBackground}} !important;
    color: {{colorText}} !important;
  }
  
  header {
    background-color: {{colorHeader}} !important;
  }
  
  #theme_changer {
    border-left-color: {{colorHeader}} !important;
  }
  </style>
</head>

<body>
  <!-- Titre -->
  <header>
    <br />
    <h2 id="section_title">La Cybercriminalité</h2>
  </header>

  <!-- Menu -->
  <nav id="inline_menu">
	<div  class="item">
	  <div class="link_container">
        <a data-ng-href="./pages/presentation.html{{param}}" class="link_box">
		  <h2 class="link_text">Présentation du site</h2>
  	    </a>
      </div>  
	</div>
	  
	<div  class="item">
	  <div class="link_container">
        <a data-ng-href="./pages/generalites.html{{param}}" class="link_box">
		  <h2 class="link_text">Généralités</h2>
  	    </a>
      </div>  
	</div>
	  
	<div  class="item">
	  <div class="link_container">
        <a data-ng-href="./pages/faits_divers.html{{param}}" class="link_box">
		  <h2 class="link_text">Faits divers</h2>
  	    </a>
      </div>  
	</div>
	  
	<div  class="item">
	  <div class="link_container">
        <a data-ng-href="./pages/chiffres.html{{param}}" class="link_box">
		  <h2 class="link_text">Quelques chiffres</h2>
  	    </a>
      </div>  
	</div>
	
	<div  class="item">
	  <div class="link_container">
        <a data-ng-href="./pages/liens.html{{param}}" class="link_box">
		  <h2 class="link_text">Liens</h2>
  	    </a>
      </div>  
	</div>
	  
	<div  class="item">
	  <div class="link_container">
        <a data-ng-href="./pages/types_attaques.html{{param}}" class="link_box">
		  <h2 class="link_text">Les types d'attaques</h2>
  	    </a>
      </div>  
	</div>
	  
	<div  class="item">
	  <div class="link_container">
        <a data-ng-href="./pages/categories_hackers.html{{param}}" class="link_box">
		  <h2 class="link_text">Catégories de hackers</h2>
  	    </a>
      </div>  
	</div>
	  
	<div  class="item">
	  <div class="link_container">
        <a data-ng-href="./pages/cybercrimes.html{{param}}" class="link_box">
		  <h2 class="link_text">Exemples de cybercrimes</h2>
  	    </a>
      </div>
	</div>
	  
	<div  class="item">
	  <div class="link_container">
        <a data-ng-href="./pages/internet.html{{param}}" class="link_box">
		  <h2 class="link_text">Internet et la cybercriminalité</h2>
  	    </a>
      </div>	  
	</div>
  </nav>
  
  <form id="theme_changer">
      <table>
        <tr>
          <td>
            Theme : 
          </td>
          <td>
            <select data-ng-model="theme" data-ng-change="updateLink()">
            <option value="custom">Personnalisé</option>
            <option value="red">Rouge (base)</option>
            <option value="green">Vert</option>
            </select>
          </td>
        </tr>

        <tr>
          <td>
            Fond : 
          </td>
          <td>
            <input class="colorTextInput" data-ng-model="colorInputBackground" size="8" />
            <input class="colorInput" type="color" data-ng-model="colorInputBackground" data-ng-bind="colorInputBackground" />
          </td>
        </tr>

        <tr>
          <td>
            Entête : 
          </td>
          <td>
            <input class="colorTextInput" data-ng-model="colorInputHeader" size="8" />
            <input class="colorInput" type="color" data-ng-model="colorInputHeader" data-ng-bind="colorInputHeader" />
          </td>
        </tr>

        <tr>
          <td>
            Article : 
          </td>
          <td>
            <input class="colorTextInput" data-ng-model="colorInputArticle" size="8" />
            <input class="colorInput" type="color" data-ng-model="colorInputArticle" data-ng-bind="colorInputArticle" />
          </td>
        </tr>

        <tr>
          <td>
            Texte :
          </td>
          <td>
            <input class="colorTextInput" data-ng-model="colorInputText" size="8" />
            <input class="colorInput" type="color" data-ng-model="colorInputText" data-ng-bind="colorInputText" />
          </td>
        </tr>
      </table>
      <br />
	  <div><a data-ng-href="{{param}}" data-ng-click="updateLink();reload();">Appliquer</a></div>
    </form>

  <pre id="skull" class="unselectable">
         _______________
        /               \
       /                 \
      /                   \
      |   XXXX     XXXX   |
      |   XXXX     XXXX   |
      |   XXX       XXX   |
      |         X         |
      \__      XXX     __/
        |\     XXX     /|
        | |           | |
        | I I I I I I I |
        |  I I I I I I  |
         \_           _/
          \_         _/
            \_______/
  XXX                        XXX
XXXXX                        XXXXX
 XXXXXXXXXX             XXXXXXXXXX
         XXXXX     XXXXX
             XXXXXXX
         XXXXX     XXXXX
XXXXXXXXXX             XXXXXXXXXX
XXXXX                        XXXXX
  XXX                        XXX
  </pre>

  <!-- Pied de page -->
  <footer>
    <p id="membres">Pierre Romestant - Morgane Tuffery - Elyan Poujol - Martin Massol</p>
	<p><a href="https://www.facebook.com/cybercriminalite.projet.iutRodez/" target="_blank">
	Retrouvez-nous sur Facebook<img src="./img/fb_logo__blue_58.png" /></p>
	<p><a href="http://www.iut-rodez.fr/" target="_blank">IUT de Rodez</a></p>
	<p>2016/2017</p>
  </footer>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-90124780-1', 'auto');
  ga('send', 'pageview');
  </script>
</body>
</html>
