/*
 global
*/
html
{
    width: 100%;
    height: 100%;
}

body {
  background: linear-gradient(to bottom right, rgba(20,20,20,1), rgba(0,0,0,1));
  font-size: 1.3em;
  color: white;
  overflow-y: scroll;
  background-attachment: fixed;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

hr {
  margin: 5px;
}

article {
  margin: auto;
  width: 50%;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  border: 2px solid white;
  min-width: 400px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*
 fin global
*/

/*
 encadré
*/
#super_div_container {
  margin: auto;
  margin-top: 50px;
  width: 100px;
  height: 30px;
  padding: 0px;
}

#super_div {
  
  border: 3px solid white;
  width: 100px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  padding: 0px;
}

#super_div_child {
  margin: 0px;
  margin-top: 0px;
}
/*
 fin encadré
*/

/*
 menu
*/
nav {
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 0px;
  z-index: 1001;
  height: 100%;
  background-color: rgba(0,0,0,0.7); 
  border-right: 3px solid white;
  font-weight: bold;
}

nav:hover {
  width: 300px;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  border: none;
}

.menu_list {
    list-style-type: none;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#menu_title {
  margin-left: 10px;
}

.menu_item {
  width: 100%;
  margin: 0px;
}

.menu_link {
  padding-left: 20px;
  width: 100%;
  display: inline-block;
}

.menu_link:hover {
  background-color: rgba(255,255,255,1); 
  color: black;
}
/*
 fin menu
*/

/*
 pied de page
*/
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
}

#footer_text {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -999;
  margin: 10px;
  color: #b0b0b0;
}
/*
 fin pied de page
*/

/*
 crane ascii
*/
#skull {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: -999;
  filter: blur(1px);
}
/*
 fin crane ascii
*/