/*
 titre page
*/
#section_title {
  margin-left: 50px;
}

#section_title::before {
  content: "/";
}
/*
 fin titre page
*/

/*
 super lien
*/
.super_link_container {
  margin: 25px;
  width: 250px;
  height: 250px;
  padding: 0px;
}

.super_link_box {
  transform: rotate(45deg);
  position: relative;
  top: 36px;
  left: 36px;
  border: 3px dashed white;
  width: 167px;
  height: 167px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  padding: 0px;
}

.super_link_text {
  margin: 0px;
  transform: rotate(-45deg);
  display: block;
}

.super_link_box:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(0, 255, 255);
}
/*
 fin super lien
*/

/*
 menu
*/
nav {
  margin: auto;
  margin-top: 100px;
  padding: 0px;
  max-width: 1200px;
  min-width: 600px;
  min-height: 600px;
}

.menu_item{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	float: left;
}
/*
 fin menu
*/

/*
 crane ascii
*/
#skull {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: -999;
  filter: blur(1px);
}
/*
 fin crane ascii
*/