body {
  background-color: #c30070;
  font-size: 1.2em;
  color: white;
}

#super_div {
  margin: auto;
  margin-top: 50px;
  border: 3px solid white;
  width: 100px;
  height: 300px;
  text-align: center;
}
