body {
  /*background: linear-gradient(to bottom, #181818, #000000);*/
  background-color: teal;
  font-size: 1.0em;
  color: white;
  background-attachment: fixed;
  overflow-x: hidden;
  margin: 0px;
  font-family: Verdana;
}
a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
hr {
  margin: 5px;
}
header {
  position: fixed;
  top: 0px;
  padding-left: 100px;
  width: 100%;
  /*min-width: 600px;*/
  /*background-color: black;*/
  background-color: darkcyan;
  padding-bottom: 30px;
  z-index: 1000;
  border-bottom: 1px solid dimgray;
}
article {
  margin: auto;
  margin-top: 100px;
  width: 50%;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  background-color: rgba(0, 150, 150, 0.5);
  padding: 10px;
  border: 2px solid white;
  border-radius: 0px 10px 0px 10px;
}
@media screen and (max-width: 1300px) {
  article {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  article {
    width: 100%;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background-color: rgba(0, 150, 150, 0.5);
    padding: 10px;
	border: none;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	border-radius: 0px;
  }
}
.titre_article {
  color: #00ffff;
  margin-top: 0px;
  text-decoration: underline;
}
/* rend le texte non selectionnable */
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#section_title {
  display: inline;
}
#return {
  color: #00ffff;
  display: inline;
}
/*
 pied de page
*/
footer {
  margin-top: 40px;
  width: 100%;
  height: 30px;
}
#footer_text {
  text-align: center;
  margin-bottom: 10px;
  color: #b0b0b0;
}
/*
 crane ascii
*/
@media screen and (max-width: 300px), (max-height: 600px) {
  #skull {
    display: none;
  }
}
#skull {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: -999;
  filter: blur(1px);
}