/* titre page */
#section_title:before {
  content: "/La Cybercriminalité/";
}
/* bouton menu */
#menu_button {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  z-index: 1002;
  background-image: url('../img/closed_menu_alpha_50px.png');
}

/* menu */
.closed_menu {
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 0px;
  z-index: 1001;
  height: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 1);
  font-weight: bold;
  transition-duration: 0.2s;
}
.opened_menu {
  width: 300px;
  height: 100%;
  border: none;
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 1);
  border-right: 3px solid white;
  font-weight: bold;
  transition-duration: 0.2s;
}
#menu .list {
  list-style-type: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
#menu #title {
  margin: 0px;
  padding-top: 15px;
  width: 100%;
  height: 50px;
  text-align: center;
}
#menu hr {
  margin: 0px;
  line-height: 3;
  color: white;
}
#menu .item {
  width: 100%;
  margin: 0px;
}
#menu .link {
  padding-left: 20px;
  width: 100%;
  display: inline-block;
  white-space: nowrap;
}
#menu .link:hover {
  background-color: #ffffff;
  color: black;
}
/* encadré texte */
article {
  min-height: 400px;
  max-width: 800px;
}
.titre_article {
  color: #00ffff;
  text-decoration: underscore;
}