/********** titre page **********/
#section_title::before {
  content: "/";
}

body {
  height: auto !important;
  top: 80px;
  bottom: 0px;
  overflow-y: auto;
}

@media screen and (max-width: 605px) {
  header {
    padding-left: 0px;
	text-align: center;
  }
}

#theme_changer {
  margin-top: 100px !important;
}