html {
  width: 100%;
  height: 100%;
}
body {
  background: linear-gradient(to bottom right, #141414, #000000);
  font-size: 1.3em;
  color: white;
  background-attachment: fixed;
}
a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
hr {
  margin: 5px;
}
article {
  margin: auto;
  margin-top: 100px;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border: 2px solid white;
  border-radius: 0px 10px 10px 10px;
  min-width: 400px;
  max-width: 800px;
}
/* rend le texte non selectionnable */
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#section_title {
  margin-left: 50px;
  display: inline;
}
#return {
  color: #00ffff;
  display: inline;
  margin-left: 50px;
}
/*
 pied de page
*/
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
}
#footer_text {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -999;
  margin: 10px;
  color: #b0b0b0;
}
/*
 fin pied de page
*/
/*
 crane ascii
*/
#skull {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: -999;
  filter: blur(1px);
}
/*
 fin crane ascii
*/
