<!DOCTYPE html>
<html lang="fr" data-ng-app="app" data-ng-controller="ctrl">
<head>
  <title>La Cybercriminalité</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#990000">
  <meta name="keywords" content="cybercriminalité" />
  <meta name="description" content="Un site internet traitant de la cybercriminalité réalisé par des étudiants de première année d'IUT Informatique." />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="../script/script_theme.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="../style/style_global.css" />
  <link rel="stylesheet" type="text/css" href="../style/style_pages.css" />
  <link rel="stylesheet" type="text/css" href="../style/style_menus.css" />
  <link rel="stylesheet" type="text/css" href="../style/font-awesome-4.7.0/css/font-awesome.min.css" />
  <script src="../script/script_menus.js" type="text/javascript"></script>
  
  <style>
  /* global */
  body {
    background-color: {{colorBackground}} !important;
    color: {{colorText}} !important;
  }
  
  header {
    background-color: {{colorHeader}} !important;
  }
  
  article {
    background-color: {{colorArticle}} !important;
  }
  
  .titre_article {
    background-color: {{colorHeader}} !important;
    border-color: {{colorBackground}} !important;
  }
  
  .haut_page_icone {
    background-color: {{colorHeader}} !important;
  }
  
  /* menus */
  .menu_current {
    background-color: {{colorHeader}} !important;
    border-color: {{colorHeader}} !important;
  }
  
  @media screen and (max-width: 600px) {
    #menu_anchors .jump {
      border-top: 3px solid {{colorBackground}} !important;
      background-color: {{colorHeader}} !important;
	}
  }
  
  /* formulaire theme */
  #theme_changer {
    border-left-color: {{colorHeader}} !important;
  }
  </style>
</head>

<body>
<!-- Bouton du menu -->
  <div id="menu_button" onclick="toggleMenu()">
    <i id="menu_button_icon" class="fa fa-bars" aria-hidden="true"></i>
  </div>

<!-- Menu -->
  <nav data-state="closed_menu" id="menu">	
    <h3 id="menu_home"><a data-ng-href="../index.html{{param}}">/Accueil:</a></h3>
	<hr />
    <ul class="list">
	  <li class="item">
	    <a data-ng-href="presentation.html{{param}}" class="link">Présentation</a>
	  </li>
	  
	  <li class="item">
	    <a data-ng-href="generalites.html{{param}}" class="link">Généralités</a>
	  </li>
	  
	  <li class="item">
	    <a data-ng-href="faits_divers.html{{param}}" class="link">Faits divers</a>
	  </li>
	  
	  <li class="item">
	    <a data-ng-href="chiffres.html{{param}}" class="link">Quelques chiffres</a>
	  </li>
	  
	  <li class="item">
	    <a data-ng-href="liens.html{{param}}" class="link">Liens</a>
	  </li>

	  <li class="item">
	    <a data-ng-href="types_attaques.html{{param}}" class="link">Les types d'attaques</a>
	  </li>
	  
	  <li class="item">
	    <a data-ng-href="categories_hackers.html{{param}}" class="link">Catégories de hackers</a>
	  </li>

	  <li class="item">
	    <span class="link menu_current">Exemples</span>
	  </li>
	  
	  <li class="item">
	    <a data-ng-href="internet.html{{param}}" class="link">Internet</a>
	  </li>
    </ul>
	
	<form id="theme_changer">
      <table>
        <tr>
          <td>
            Theme : 
          </td>
          <td>
            <select data-ng-model="theme" data-ng-change="updateLink()">
            <option value="custom">Personnalisé</option>
            <option value="red">Rouge (base)</option>
            <option value="green">Vert</option>
            </select>
          </td>
        </tr>

        <tr>
          <td>
            Fond : 
          </td>
          <td>
            <input class="colorTextInput" data-ng-model="colorInputBackground" size="8" />
            <input class="colorInput" type="color" data-ng-model="colorInputBackground" data-ng-bind="colorInputBackground" />
          </td>
        </tr>

        <tr>
          <td>
            Entête : 
          </td>
          <td>
            <input class="colorTextInput" data-ng-model="colorInputHeader" size="8" />
            <input class="colorInput" type="color" data-ng-model="colorInputHeader" data-ng-bind="colorInputHeader" />
          </td>
        </tr>

        <tr>
          <td>
            Article : 
          </td>
          <td>
            <input class="colorTextInput" data-ng-model="colorInputArticle" size="8" />
            <input class="colorInput" type="color" data-ng-model="colorInputArticle" data-ng-bind="colorInputArticle" />
          </td>
        </tr>

        <tr>
          <td>
            Texte :
          </td>
          <td>
            <input class="colorTextInput" data-ng-model="colorInputText" size="8" />
            <input class="colorInput" type="color" data-ng-model="colorInputText" data-ng-bind="colorInputText" />
          </td>
        </tr>
      </table>
      <br />
	  <div><a data-ng-href="{{param}}" data-ng-click="updateLink();reload();">Appliquer</a></div>
    </form>
  </nav>

<!-- Contenu principal -->
  <div id="page" onclick="closeMenu()">
  
<!-- Titre -->
    <header>
	  <a data-ng-href="../index.html{{param}}"><h2 id="return">../</h2></a>
      <br />
      <h2 id="section_title">Exemples de cybercrimes</h2>
      <br />
	</header>

	<section>
      <article id="exemples_cybercrimes">
        <h3 class="titre_article">Exemples de cybercrimes</h3>

        <p>Exemple de cybercrimes et de leurs démantèlement (partiel ou non)</p>

		<p class="alinea">
		Le groupe Anonymous n’est plus anonyme : le groupe de pirates connu 
		sous le nom d’Anonymous a conduit des attaques contre des cibles 
		commerciales et politiques pendant plusieurs années et les organismes 
		d’application de la loi avaient du mal à pénétrer dans l’organisation 
		afin de la démanteler. L’un des premiers grands succès fut les 
		arrestations de membres d’Anonymous menées par les autorités dans 
		plusieurs pays. Les individus arrêtés ont été accusés de mener des 
		attaques contre des sites situés au Chili, en Colombie ainsi que dans 
		d’autres pays.</p>
		<p class="alinea">
		Les fédéraux arrêtent Sabu : En mars 2012, les autorités ont peut-être 
		connu leur plus grand succès contre Anonymous, quand les agents 
		fédéraux ont arrêté Sabu, le célèbre leader du groupe rejeton 
		d’Anonymous, LulzSec. L’arrestation de Sabu a provoqué des ondes de 
		choc parmi la communauté souterraine et a commencé à révéler peu à peu 
		le groupe. Sabu, dont le vrai nom est Hector Xavier Monsegur, a coopéré
		avec le FBI et son jugement a été repoussé plusieurs fois, notamment en
		février dernier.</p>
		<p class="alinea">
		Le responsable présumé du plus grand botnet de Zeus a volé 100 millions
		de dollars :Le malware ZeuS a probablement causé plus de dégâts et de 
		pertes financières ces dernières années que n’importe quel autre, et 
		les autorités ont suivi son utilisation dans le but d’essayer de 
		remonter à son créateur ou aux individus qui gèrent les différents 
		botnets ZeuS. En janvier, les autorités Malaisiennes ont arrêté un 
		homme appelé Hamza Bendelladj, qu’elles suspectent d’être l’opérateur 
		d’un des plus larges Botnets de ZeuS, responsable du vol de plus de 100
		millions de dollars auprès de différentes banques américaines.</p>
		<p class="alinea">
		Le botnet Butterfly démantelé : Les botnets comme ceux utilisés par les
		utilisateurs de ZeuS, sont des outils clés de l’arsenal des 
		cybercriminels. Ils sont utilisés pour des spams, des attaques DDoS et 
		dans les opérations de fraude bancaire et, il est difficile d’en pincer
		les opérateurs. Un des succès récents les plus notables fut celui de 
		l’opération menée par les autorités en Nouvelle-Zélande, aux Etats-Unis
		et dans d’autres pays, qui ont arrêté dix individus impliqués dans le 
		fonctionnement du botnet Butterfly. Ce botnet utilisait le malware 
		Yahos pour infecter les utilisateurs de Facebook : les malfaiteurs sont
		accusés d’avoir volé près d’un milliard d’euros au fil des années.</p>
		<p class="alinea">
		Le groupe du cheval de Troie Carberp épinglé : Les chevaux de Troie 
		bancaires tels que Carberp se trouvent par douzaines, mais cela ne 
		signifie pas que les organismes d’application de la loi ne poursuivent 
		pas les pirates qui se cachent derrière ces virus. Le succès a mis du 
		temps à venir, mais en 2012 les autorités russes ont arrêté plusieurs 
		acteurs présumés impliqués dans l’opération Carberp. Les bénéfices 
		qu’en aurait tirés le gang Carberp sont relativement minces – deux 
		millions de dollars – mais chaque arrestation dans ce domaine est une 
		étape importante dans le démantèlement de la cybercriminalité.</p>
		<p class="alinea">
		SpyEye, l’espion qui m’aimait : Avec ZeuS
		, SpyEye est l’un des chevaux de Troie existant les plus populaires de 
		nos jours, et les deux malwares sont en fait très étroitement liés. En 
		juillet 2012, les autorités ont arrêté Pavel Cyganok, un lituanien de 
		28 ans et Ilja Zakrevskim, un estonien de 26 ans. Ils sont accusés 
		d’avoir utilisé le cheval de Troie SpyEye afin de voler les 
		identifiants de compte bancaire en ligne de leurs victimes. Ils ont 
		ensuite été accusés par l’unité spécialisée en cybercriminalité de la 
		police métropolitaine centrale d’avoir violé la loi sur l’utilisation 
		abusive de l’informatique au Royaume-Uni. Pendant ce temps, un 
		troisième homme, Aldis Krummins, un lettonien de 45 ans a été jugé 
		coupable de blanchiment d’argent dans le cadre de la même enquête.</p>
		<p class="alinea">
		MegaUpload démantelé dans un méga coup de filet : La cybercriminalité 
		prend plusieurs formes, et il ne s’agit pas toujours d’une violation 
		évidente comme l’utilisation d’un malware ou l’usurpation d’identité. 
		En janvier 2012, les autorités américaines et néo-zélandaises ont 
		collaboré dans le démantèlement du service de partage des données, 
		MegaUpload, et elles ont procédé à une fouille considérable du domicile
		de Kim Dotcom, le fondateur du service. Les représentants du 
		gouvernement néo-zélandais se sont plus tard excusés auprès de Dotcom, 
		pour avoir été trop loin et avoir mis en place une surveillance 
		électronique illégale de ses communications. Plus d’un an après, la 
		grande majorité de l’affaire n’est toujours pas résolue.</p>
      
	    <span onclick="page.scrollTop = 0" class="haut_page">
	      <i class="haut_page_icone fa fa-chevron-circle-up" aria-hidden="true"></i>
	    </span>
	  </article>

      <pre id="skull" class="unselectable"> 
         _______________
        /               \
       /                 \
      /                   \
      |   XXXX     XXXX   |
      |   XXXX     XXXX   |
      |   XXX       XXX   |
      |         X         |
      \__      XXX     __/
        |\     XXX     /|
        | |           | |
        | I I I I I I I |
        |  I I I I I I  |
         \_           _/
          \_         _/
            \_______/
  XXX                        XXX
XXXXX                        XXXXX
 XXXXXXXXXX             XXXXXXXXXX
         XXXXX     XXXXX
             XXXXXXX
         XXXXX     XXXXX
XXXXXXXXXX             XXXXXXXXXX
XXXXX                        XXXXX
  XXX                        XXX
      </pre>

<!-- Pied de page -->
    </section>
    <footer>
      <p id="membres">Pierre Romestant - Morgane Tuffery - Elyan Poujol - Martin Massol</p>
	  <p><a href="https://www.facebook.com/cybercriminalite.projet.iutRodez/" target="_blank">
	  Retrouvez-nous sur Facebook<img src="../img/fb_logo__blue_58.png" /></p>
	  <p><a href="http://www.iut-rodez.fr/" target="_blank">IUT de Rodez</a></p>
	  <p>2016/2017</p>
    </footer>
  </div>
  
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-90124780-1', 'auto');
  ga('send', 'pageview');
  </script>
</body>
</html>
